.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Arial', sans-serif;
  color: #111;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.main-content {
  display: flex;
  flex: 1;
  margin-top: 40px;
  justify-content: center;
  align-items: flex-start;
}

.left-panel {
  flex: 0 0 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 900px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }
  .left-panel, .right-panel {
    flex: unset;
    width: 100%;
    align-items: center;
  }
  .left-panel {
    margin-bottom: 30px;
  }
}
